div.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    > h2{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}
